/docker/config/**
/docker/data/**
/docker/events/**
/logs
/classes
/.idea_modules
/.classpath
/.project
/.settings
/data
/bin
target
.DS_Store
*.p12
*.key
*.jks
*.keystore
*.swp
*ensime*
*.log

/.idea/*
!/.idea/misc.xml
!/.idea/codeStyles
!/.idea/codeStyleSettings.xml
!/.idea/fileTemplates
*.code-workspace
